{namespace SVIMetalDatatable}

/**
 * This renders the main content of the `Modal` component.
 * @param myState
 * @param id
 * @param tableHeader
 */
{template .render}
<div id="{$id}-table-container">
  <div class="table-header">{$tableHeader}</div>
	<div>
				<a data-onClick="changeState">klick mich</a>
				<span>{$myState}</span>
	</div>
	<div>
			<div id="{$id}-myDataTable" style="height: 150px;width: 600px" class="ag-bootstrap"></div>
	</div>
</div>
{/template}
